<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.file_sharing">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/acads"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Chat" />
        <activity android:name=".Users" />
        <activity android:name=".Register2" />
        <activity android:name=".login2" />
        <activity android:name=".MainMenu1" />
        <activity android:name=".MainMenu" />
        <activity android:name=".login1" />
        <activity android:name=".Register1" />
        <activity android:name=".ViewUploadsActivity" />
        <activity android:name=".Main2Activity" />
        <activity android:name=".View_PDF_Files" />
        <activity android:name=".upload" />
        <activity android:name=".login" />
        <activity android:name=".Register" />
        <activity
            android:name=".HomeScreen"
            android:label="Notice"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name=".Main3Activity"
            android:label="Add Notice"
            android:parentActivityName=".HomeScreen"
            >

        </activity>
        <activity android:name=".EditActivity"
            android:label="Add Notice"
            android:parentActivityName=".HomeScreen"
            >

        </activity>
        <activity android:name=".StartPage">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>